
/* html {
  height: 100%;
  
} */
  .mySlides {
    display:none;
  }

 h1{
    text-align: center;
    margin-left: 100px;
    margin-bottom: -5px;
    margin-top: 0px;
    font-size: 45px;
}
a:visited{
  color: rgb(107 178 53);
}

#actuel a {
color: #fff;
  pointer-events: none;
cursor: default;
}

/* REGISTER $ CONTACT PAGE*/

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px ;
    border:2px solid rgb(3, 3, 3);
    width: 97%;
    display: block;
}

.hide{
  display: none;
}

/* div label{
  margin-left: 123px;
} */
div input{
  width: 30px;
  vertical-align:sub;
}

legend {
  background-color: rgb(28 99 127);
  margin-top: 10px;
  margin-bottom: 20px;
  border:2px solid rgb(3, 3, 3);
  width: 91%;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px;
} 
 label {

  display: inline-block;
  vertical-align: top; 
  margin: 6px;
}

.form input{
    margin-left: 30px;
}

   
form textarea {
    height: 100px;
  }
input, textarea {
    width: 250px;

  }
input[type=submit] {
    width: 100px;
    padding: 5px;
} */

/* h3{
  text-align: center;
  margin-top: 100px;
} */

/* DISCOVER $ INDEX PAGE */


/* INDEX PAGE */


article {
  background-image:("./IMAGES/membres.jpg");
  background-color: white;
  font: 1rem 'Fira Sans', sans-serif;
  /* height: max-content; */
  display: block;
  /* border: 1px solid black; */
  min-height: 200px;
  position: relative;
  margin-top: 10px;
  padding: 5px;
  width: auto;
}

article img {
  float: right;
  margin-right: 10px;
  height: 100%;
  position: relative;
  top: 0px;
}

.full_content {
  display: none;
}

fieldset img{
  display: inline-flex;
  float : right; 
  vertical-align:middle; 
}

.informations{
color : red;
font-weight: bold;
margin-bottom: 10px;
}

.eye {
width: 20px;
height: 20px;
margin-left: 10px;
float: none;
}

